{
  // "presets": ["latest",'react', 'es2015','stage-2']
  "presets": ["latest", "react", "es2015", "stage-2"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
