.back-article {
    padding: 20px;

    &-container {
        background-color: #fff;
        padding: 0 20px 20px;
        border-radius: 6px;

        &-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &-search {
                padding: 10px 0;
                display: flex;
                justify-content: flex-start;

                &-item {
                    flex: 1 1 auto;

                    span {
                        margin-right: 8px;
                    }
                }
            }

            &-header,
            &-body-list {
                display: flex;
                background-color: rgb(235, 236, 240);
                padding: 10px;
                border-bottom: 1px solid rgb(235, 236, 240);

                &-item {
                    &:nth-of-type(1) {
                        width: 25%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: 10px;
                    }

                    &:nth-of-type(2) {
                        width: 16%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: 10px;
                    }

                    &:nth-of-type(3) {
                        width: 14%;
                    }

                    &:nth-of-type(4) {
                        width: 12%;
                    }

                    &:nth-of-type(5) {
                        width: 12%;
                    }

                    &:nth-of-type(6) {
                        width: 10%;
                    }

                    &:nth-of-type(7) {
                        width: 14%;
                    }
                }
            }

            &-body {
                &-list {
                    background-color: #fff;
                    display: flex;

                    &:hover {
                        background-color: rgb(247, 248, 250)
                    }

                    &-item {
                        height: 40px;
                        line-height: 40px;

                        button,
                        span {
                            margin-right: 5px;
                        }
                    }
                }
                &-nullData {
                    height: 100px;
                    line-height: 100px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
        &-tag{
            &-list{
                width: 50%;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                padding: 20px 0;
                .ant-tag{
                    margin-bottom: 10px;
                }
            }
        }
    }
}