.pzhu-web-copyright {
  padding: 20px 0;
  flex: 1 1 auto;
  width: 100%;
  .copyright {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    .web-auth {
      font-size: 14px;
      margin-top: 10px;

      img {
        margin-left: 10px;
        vertical-align: bottom;
      }
    }
  }
}
