.album-container {
  width: 100%;
  padding: 20px;

  .album-header {
    width: 100%;

    & > .album-header-btn {
      margin-left: 10px;
    }
  }

  .album-main {
    margin-top: 20px;
    display: flex;
    min-height: calc(100vh - 222px);

    .album-main-left {
      width: 250px;
    }

    .album-main-right {
      margin-left: 20px;
      flex: 1;
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .album-item {
    margin: 0 10px;
    width: 200px;
    height: 200px;
    position: relative;

    .ant-card-meta-description div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ant-card-meta-title div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div:nth-child(1) {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .album-item-desc {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
