.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.average_flex_row{
    flex-grow: 1;
    flex-basis: 50px;
    flex-shrink: 1;
}
.span_button {
    padding-right: 20px;
    
}
.appaly_list_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-left:20px;
}
.antd_Button_space{
    margin-left: 10px;
    margin-right: 10px;
}
.span_button:hover{
    cursor: pointer;
    background-color: #abcdef;
}
.info_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #abcdef;
}

// 用户详情信息中的头像样式,实际设置的是图片外部容器span
.info_avatar{
    height: 20em;
    width: 20em;
    flex-basis: 20em;
}
.info_info .id_name{
   padding:30px; 
}
.info_info{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    border-bottom: 1px solid #abcdef;
}
.info_info label{
    color: rgb(17, 107, 182);
     font-size: 1.4em;
}
.info_info  .userinfo{
    flex-basis: 100%;
}
.userinfo .userinfo_top{
    display: flex;
}
.userinfo .userinfo_bottom p{
    padding-left: 70px;
    max-width: 50em;
    max-height: 3.2em;
    overflow: hidden;
    word-break: normal;
    overflow: unset;

}
.info_article{
    border-bottom: 1px solid #abcdef;
}
.info_article .ant-table-thead > tr:not(:last-child) > th[colspan] {
    border-bottom: 0;
    font-size: 1.2em;
}
.info_achivement .ant-table-thead > tr:not(:last-child) > th[colspan] {
    border-bottom: 0;
    font-size: 1.2em;
}