.ImageProLoad {
  width: inherit;
  height: inherit;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  position: relative;
  img {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s linear;
  }
  .loaded {
    opacity: 1;
  }
  .img-small {
    filter: blur(30px);
    transform: scale(1);
  }
  &-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}
