.achievementActive {
  border-right: 3px solid #1890ff;
  background-color: rgba(24, 144, 255, 0.2);
}

.achievement {
  width: 1400px;
  height: auto;
  margin: 0 auto;

  &-left {
    width: 300px;
    min-height: 600px;
    padding: 20px 0;
    position: fixed;
    &-header {
      width: 100%;
      height: 57px;
      line-height: 57px;
      padding: 0 20px;
      font-size: 18px;
      font-weight: 600;
    }

    &-item {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;

      .anticon {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        color: #1890ff;
      }
    }
  }

  &-right {
    width: 70%;
    min-height: 600px;
    padding: 20px 0;
    margin-left: 300px;
    .ant-card-body {
      display: flex;
      flex-wrap: wrap;
    }

    &-null {
      width: 100%;
      height: 100px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      margin-right: 1%;
      margin-left: 1%;
      margin-bottom: 20px;
      height: auto;
    }

    .ant-card-meta {
      height: 110px;
    }

    .ant-card-meta-title {
      white-space: normal;
    }

    .ant-card-cover {
      width: 100%;
      height: 250px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      img {
        width: 100%;
      }
    }

    .ant-card-meta-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 62px;
    }
  }
}
